{{ if eq .chezmoi.os "linux" -}}
#! /bin/sh
sudo apt install age
sudo apt install gh
{{ else if eq .chezmoi.os "darwin" -}}
#! /bin/sh
brew install age
brew install tlrc
brew install gh
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
{{ end -}}
# Install rye
curl -sSf https://rye-up.com/get | bash
# Intall rustup
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
