{{ if eq .chezmoi.os "linux" -}}
#! /bin/sh
sudo apt install age
sudo apt install gh
{{ else if eq .chezmoi.os "darwin" -}}
#! /bin/sh
brew install age
brew install tlrc
brew install gh
defaults write com.microsoft.VSCode ApplePressAndHoldEnabled -bool false
{{ end -}}
# Install poetry
curl -sSL https://install.python-poetry.org | POETRY_HOME=~/.local/share/pypoetry python3 -
# Intall rustup
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
